
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>
			<%= f.label :name %>
			<%= f.text_field :name, class: 'form-control' %>
			<%= f.label :email %>
			<%= f.email_field :email, class: 'form-control' %>
			<%= f.label :password %>
			<%= f.password_field :password, class: 'form-control' %>
			<%= f.label :password_confirmation, "Confirmation" %>
			<%= f.password_field :password_confirmation, class: 'form-control' %>
			<%= f.label :diachi,"Địa Chỉ" %>
			<%= f.text_field :diachi, class: 'form-control' %>
			<%= f.label :sinhnhat ,"Ngày Sinh"%>
			<%= f.date_field :sinhnhat, class: 'form-control' %>
				<div>	
					<%= collection_radio_buttons(:user, :gioitinh, User.gioitinhs, :first, :first) do |fradio|%>
					  <% fradio.label(:"data-value" => fradio.value) { fradio.radio_button + fradio.text } %> 
				    <% end %>
		 		</div>
			<%= f.submit yield(:button_text), class: "btn btn-primary" %>

		<% end %>
